<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <header class="navbar">
        <div class="column col-3 mainLeft">
            <a href="/"><h3>Teamfinder</h3></a>
        </div>
        <div class="column col-6 mainCenter">            
            <a href="/groups/finder" class="btn btn-link navButton">Groupfinder</a>
            <a href="/groups/active" class="btn btn-link navButton">Active Groups</a>
            <a href="/groups/create" class="btn btn-link home navButton">Create Group</a>

        </div>
        <div class="column col-3 mainRight">
            <a href="/accounts/login" class="btn btn-link">Login</a>
            <a href="/accounts/sign-up" class="btn btn-link">Sign-up</a> <!-- isLoggedIn changes Register to Account-->
        </div>
    </header>

    {{{body}}}
</body>
</html>