
<div class="form-group">
  <label class="form-label" for="input-example-1">First Name</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="First name">
  <label class="form-label" for="input-example-1">Last Name</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="Last name">
  <label class="form-label" for="input-example-1">Email</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="Email">
  <label class="form-label" for="input-example-1">Age</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="Age">
  <label class="form-label" for="input-example-1">Phone Nr</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="Phone nr">
  <div class="form-group">
  <label class="form-label">Gender</label>
  <label class="form-radio">
    <input type="radio" name="gender" checked>
    <i class="form-icon"></i> Male
  </label>
  <label class="form-radio">
    <input type="radio" name="gender">
    <i class="form-icon"></i> Female
  </label>
</div>
</div>