<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="centerText">
            <h1>Create a group!</h1>
            <p>Fields marked with a * are optional</p>
        </div>  
        <form>
            <div class="form-group">
                <label for="selectImage">Select Image</label>
                <select class="form-control">
                    <option>Select image</option> <!-- Validate that this is not selected when submitting. -->
                    <option>Volleyball</option>
                    <option>PadelArena</option>
                </select>
            </div>
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" placeholder="Group Name">
            </div>
            <div class="form-group">
                <label for="selectSport">Select Sport</label>
                <select class="form-control">
                    <option>Select a sport</option> <!-- Validate that this is not selected when submitting. -->
                    <option>Volleyball</option>
                    <option>Padel</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numbeOfMembers">*Max number of members</label>
                <input type="text" class="form-control" placeholder="4">
            </div>
            <div class="form-group">
                <label for="groupName">*City</label>
                <input type="text" class="form-control" placeholder="New York">
            </div>
            <div class="form-row">
                <label for="groupName">Age restriction:</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="0">
                </div>
                _
                <div class="col">
                    <input type="text" class="form-control" placeholder="100">
                </div>
            </div>
            <div class="form-group">
                <label for="selectGender">Gender restriction</label>
                <select class="form-control" id="test">
                    <option>Any</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create Group</button>
        </form>
    </div>
</body>

</html>