<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/groupFinder.css">
    <title>Groupfinder</title>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="col-2 left"></div>

            <div class="col-8 center">
                <h3 class="title">Find your new team!</h3>
                <div class="card">
                    <div class="container">
                        <div class="columns">
                            <div class="col-3 cardMargin">
                                <div class="card-image">
                                    <img src="/volleyball.png" alt="Image of padel">
                                </div>
                                <div class="card-header">
                                    <div class="card-title h5">
                                        GroupName   
                                    </div>
                                    <div class="card-subtitle text-gray">
                                        Sport!
                                    </div>

                                    <div class="card-body">
                                        Requirements:
                                        <ul>
                                            <li>Age</li>
                                            <li>City</li>
                                            <li>Sport</li>
                                            <li>etc.</li>
                                        </ul>
                                        <p></p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary">Join Group!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 cardMargin">
                                <div class="card-image">
                                    <img src="/volleyball.png" alt="Image of padel">
                                </div>
                                <div class="card-header">
                                    <div class="card-title h5">
                                        GroupName   
                                    </div>
                                    <div class="card-subtitle text-gray">
                                        Sport!
                                    </div>

                                    <div class="card-body">
                                        Requirements:
                                        <ul>
                                            <li>Age</li>
                                            <li>City</li>
                                            <li>Sport</li>
                                            <li>etc.</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary">Join Group!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 cardMargin">

                                <div class="card-image">
                                    <img src="/volleyball.png" alt="Image of padel">
                                </div>
                                <div class="card-header">
                                    <div class="card-title h5">
                                        GroupName
                                    </div>
                                    <div class="card-subtitle text-gray">
                                        Sport!
                                    </div>

                                    <div class="card-body">
                                        Requirements:
                                        <ul>
                                            <li>Age</li>
                                            <li>City</li>
                                            <li>Sport</li>
                                            <li>etc.</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary">Join Group!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-2 right"></div>
        </div>
    </div>
</body>
</html>