<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/groupFinder.css">
    <title>Groupfinder</title>
</head>

<body>
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <img src="/images/volleyball.png" alt="Volleyball">
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>