<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="col-3 left">
                <p>Want to make new friends?</p>
                <p>Do you love sports and want to meet new people? Or are you simply looking for someone to play with?</p>

                <h2>This is your chance. Teamfinder is for you!</h2>
            </div>
            <div class="col-3 middle">
                <p>Testest</p>
            </div>
            <div class="col-3 right">
                <p>hellooo</p>
            </div>
        </div>
    </div>
</body>
</html>