html{
    height: 100%;
}

body{
    height: 100%;
}

.container{
    height: 90%;
}

.columns{
    height: 100%;
}

.left{
    background-color: aliceblue;
}

.right{
    background-color: aliceblue;
}

.title{
    text-align: center;
}

.cardMargin{
    margin: 3.5%;
}