body{
    height: 100%;
    width: 100%;
}

header{
    height: 10%;
    background-color: lightgrey;
}
.mainCenterHeader{
    text-align: center;
}

.mainRightHeader{
    text-align: right;
}

.mainTop{
    height: 5%;
}

.cpText{
    color: white;
}

.mainBottom{
    height: 5%;
}

.footer{
    background-color: grey;
}