html{
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #343a40;
}

.container{
    background-color: #52545c;
    color: whitesmoke;
}

main{
    height: 85%;
}

.container{
    background-color: #343a40;
    color: whitesmoke;
}

header{
    height: 10%;
    background-color: #52545c;
}

a{
    color: whitesmoke;
}

a:hover{
    color: whitesmoke;
}

.btn-link{
    color: whitesmoke;
}

.btn-link:hover{
    color: whitesmoke;
}

.centerText{
    text-align: center;
}

.mainRightHeader{
    text-align: right;
}

.mainTop{
    height: 5%;
}

.mainBottom{
    height: 5%;
}

.footer{
    background-color: #52545c;
    color: whitesmoke;
}

footer p{
    margin: 0;
}