body{
    height: 100%;
    width: 100%;
}
main{
    height: 85%;
}


header{
    height: 10%;
    background-color: lightgrey;
}

.mainCenterHeader{
    text-align: center;
}

.mainRightHeader{
    text-align: right;
}



.mainLeft{
    background-color: grey;
}

.mainCenter{
    background-color: oldlace;
}

.mainRight{
    background-color: grey;
}
